body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to bottom, #4facfe, #00f2fe);
  color: white;
  text-align: center;
}

.hidden {
  display: none;
}

.menu {
  margin-top: 50px;
}

.characters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px;
}

.card {
  width: 120px;
  height: 140px;
  background: white;
  color: black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.selected {
  border: 4px solid yellow;
}

.startBtn {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #ffcc00;
  cursor: pointer;
}

#game {
  display: flex;
  flex-direction: column;
}

canvas {
  width: 100%;
  height: 50vh;
  background: skyblue;
}
